name: "Deploy Develop"

on:
  push:
    branches:
      - develop

jobs:
  build_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Develop
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd /var/www/telemedicinamedben/dev/public

            git pull origin develop

            composer install --no-dev --no-progress --prefer-dist -a

            npm install
            npm run build

            php artisan migrate --force

            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
